* {
	box-sizing: border-box;

	font-family: "Open Sans";
	font-size: 14px;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

*:focus {
	outline: none;
}

/*
	HTML
*/

a {
	text-decoration: none;
}

/*
	page-bg
*/

.page-bg {
	background: url("../img/bg.jpg") no-repeat center;
	background-size: cover;

	position: absolute;
	min-width: 800px;
	z-index: 1000;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
}

/*
	page
*/

.page {
	position: absolute;
	padding: 0px 10px;
	min-width: 800px;
	overflow: auto;
	z-index: 2000;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
}

/*
	login-box
*/

.login-box {
	padding: 60px 0px 30px 0px;
	position: relative;
	max-width: 400px;
	margin: auto;
}

.login-logo {
	margin-bottom: 30px;
	text-align: center;
	font-size: 0px;
}

.login-container {
	box-shadow: 0px 0px 10px #333333;
	background: #FFFFFF;
	border-radius: 4px;
	position: relative;
	display: block;
	padding: 10px;
}

.login-field {
	margin-bottom: 10px;
	display: block;
}

.login-label {
	margin-bottom: 3px;
}

.login-control {
	border: 1px solid #BFBFBF;
	border-radius: 4px;
	padding: 6px 10px;
	width: 100%;
}

.login-btns {
	display: table;
	width: 100%;
}

.login-btns-cell {
	vertical-align: middle;
	display: table-cell;
	padding: 0px 5px;
}

.login-btns-cell:first-child {
	padding-left: 0px;
}

.login-btns-cell:last-child {
	padding-right: 0px;
}

.login-btns-cell-btn {
	width: 1px;
}

.login-lembrar-senha {
	vertical-align: middle;
	display: inline-block;
	color: #3333FF;
}

.login-btn {
	border-radius: 4px;
	padding: 6px 12px;
	cursor: pointer;
	display: block;
}